div {
  text-align: center;
  color: $black;
  h4 {
    background: $background;
    border-radius: $space;
    box-shadow: 0 0 5px 0;
  }
  a {
    padding: 5px;
    margin: $space;
    background: $background;
    border-radius: $space;
    box-shadow: 0 0 5px 0;
    cursor: crosshair;
  }
  a:hover {
    background: $accentColor;
  }
}

div {
  .positive {
    background: $positive;
  }
  .negative {
    background: $negative;
  }
}
